.blogthumb{
    background: -250px -80px;
    height: 100px;
    width: 100px;
    position:absolute;
    right:0;
    left: 90%;
    top: 10%;
    bottom: 0;
    
    display: block;
    overflow: hidden;
}

.profileUserImage{
    display: block;
    overflow: clip;
    cursor: zoom-in;
    border-radius: 100px;
}