.header_menubar{
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(51, 51, 51);
    word-spacing: 0px;
    background-color: #FFFFFF;
    background: 0% 0%;
    position: #333333;
    height: 435px;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
}

.cover_image{
    height: 120px;
    background-color: #F8F8F8;
    position: relative;
    display: block;
}