.wrap_profile_btn{
    height: 36px;
    width: 88px;
    left: 90%;
    position: relative;
    display: block;
}

.btn_type_btn_default_btn_profile_btnFollow{
    background-color: #FFFFFF;
    text-align: center;
    color: #00C3BD;
    height: 32px;
    width: 80px;
    border: 1px solid #00C3BD;
    margin: 0 0 0 8px;
    min-width: 80px;
    float: right;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
}